/* css variables*/
:root{
    --header-footer-bg-color: #87cefa;
    --default-width: 90%;
}

body,html,#root{
    height: 100%;
    margin: 0;
}

body{
    background-color: #b9e9e4;
}

.box{
    margin: 20px;
    padding: 5px;
    border: black 1px solid;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

button:hover {
    background-color: #0056b3;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    font-weight: 600;
    color: #333;
    font-size: 14px;
}

input,
select {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 5px;
    transition: border-color 0.3s;
}

input:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

.error {
    color: #dc3545;
    font-size: 14px;
    margin-bottom: 10px;
    display: block;
}